<div class="burger is-hidden">
  <button class="burger__close" type="button">
    <svg class="icon" width="18px" height="18px">
      <use xlink:href="./img/sprite.svg#close"></use>
    </svg>
  </button>

  <nav class="burger__nav">
    <ul class="burger__menu">
      <li><a href="./index.html">Студія</a></li>
      <li><a href="./portfolio/portfolio.html">Портфоліо</a></li>
      <li><a href="#footer">Контакти</a></li>
    </ul>
  </nav>

  <address class="burger__address">
    <a href="tel:+380961111111">+38 096 111 11 11</a>
    <a href="mailto:info@devstudio.com">info@devstudio.com</a>
  </address>

  <ul class="burger__links">
    <li><a href="./index.html">Instagram</a></li>
    <li><a href="./index.html">Twitter</a></li>
    <li><a href="./index.html">Facebook</a></li>
    <li><a href="./index.html">LinkedIn</a></li>
  </ul>
</div>
