<section class="clients">
  <div class="container">
    <h2 class="clients__title">Постійні клієнти</h2>
    <ul class="clients__list">
      <li>
        <a href="./index.html">
          <svg class="icon" width="44px" height="49px">
            <use xlink:href="./img/sprite.svg#yaigo"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="./index.html">
          <svg class="icon" width="40px" height="52px">
            <use xlink:href="./img/sprite.svg#book"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="./index.html">
          <svg class="icon" width="41px" height="42px">
            <use xlink:href="./img/sprite.svg#company"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="./index.html">
          <svg class="icon" width="80px" height="42px">
            <use xlink:href="./img/sprite.svg#foster"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="./index.html">
          <svg class="icon" width="59px" height="47px">
            <use xlink:href="./img/sprite.svg#brand"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="./index.html">
          <svg class="icon" width="88px" height="45px">
            <use xlink:href="./img/sprite.svg#tagline"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
