<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__menu">
      <a href="./index.html" class="footer__logo"><span>Web</span>Studio</a>

      <ul>
        <li><a href="./index.html">м. Київ, пр-т Лесі Українки, 26</a></li>
        <li><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
        <li><a href="tel:+380961111111">+38 096 111 11 11</a></li>
      </ul>
    </div>

    <div class="footer__social">
      <h3 class="footer__social__title">приєднуйтесь</h3>
      <ul class="footer__social__menu">
        <li>
          <a href="./index.html"><i class="bx bxl-instagram"></i></a>
        </li>
        <li>
          <a href="./index.html"><i class="bx bxl-twitter"></i></a>
        </li>
        <li>
          <a href="./index.html"><i class="bx bxl-facebook"></i></a>
        </li>
        <li>
          <a href="./index.html"><i class="bx bxl-linkedin"></i></a>
        </li>
      </ul>
    </div>

    <div class="footer__subscribe">
      <h3 class="footer__subscribe__title">Підпишіться на розсилку</h3>
      <form>
        <input type="email" placeholder="E-mail" required />

        <button type="submit">
          Підписатися
          <svg class="icon" width="24px" height="24px">
            <use xlink:href="./images/sprite.svg#tg"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</footer>
