<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo"><span>Web</span>Studio</a>

      <ul class="header__menu">
        <li class="header__menu__item active">
          <a href="./index.html">Студія</a>
        </li>
        <li class="header__menu__item">
          <a href="./portfolio/portfolio.html">Портфоліо</a>
        </li>
        <li class="header__menu__item">
          <a href="#footer">Контакти</a>
        </li>
      </ul>

      <div class="header__burger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </nav>

    <address>
      <ul class="header__contacts">
        <li class="header__contacts__item">
          <a class="header__contacts__link" href="mailto:info@devstudio.com">
            <svg class="icon" width="14px" height="10px">
              <use xlink:href="./images/sprite.svg#email"></use>
            </svg>
            info@devstudio.com
          </a>
        </li>
        <li class="header__contacts__item">
          <a class="header__contacts__link" href="tel:+380961111111">
            <svg class="icon" width="10px" height="16px">
              <use xlink:href="./images/sprite.svg#phone"></use>
            </svg>
            +38 096 111 11 11
          </a>
        </li>
      </ul>
    </address>
  </div>
</header>
