<section class="info">
  <div class="container">
    <ul class="info__list">
      <li class="info__item">
        <div class="info__icon">
          <img
            src="./images/antenna.svg"
            alt="antenna"
            width="70"
            height="70"
          />
        </div>
        <h3 class="info__title">УВАГА ДО ДЕТАЛЕЙ</h3>
        <p class="info__text">
          Ідейні міркування, і навіть початок повсякденної роботи з формування
          позиції.
        </p>
      </li>

      <li class="info__item">
        <div class="info__icon">
          <img src="./images/clock.svg" alt="clock" width="70" height="70" />
        </div>
        <h3 class="info__title">ПУНКТУАЛЬНІСТЬ</h3>
        <p class="info__text">
          Завдання організації, особливо рамки і місце навчання кадрів тягне у
          себе.
        </p>
      </li>
      <li class="info__item">
        <div class="info__icon">
          <img src="./images/diagram.svg" alt="clock" width="70" height="70" />
        </div>
        <h3 class="info__title">ПЛАНУВАННЯ</h3>
        <p class="info__text">
          Так само консультація з широким активом значною мірою зумовлює.
        </p>
      </li>
      <li class="info__item">
        <div class="info__icon">
          <img
            src="./images/astronaut.svg"
            alt="astronaut"
            width="70"
            height="70"
          />
        </div>
        <h3 class="info__title">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
        <p class="info__text">
          Значимість цих проблем настільки очевидна, що реалізація планових
          завдань.
        </p>
      </li>
    </ul>
  </div>
</section>
