<section class="team">
  <div class="container">
    <h2 class="team__title">Наша команда</h2>
    <ul class="team__list">
      <li class="team__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="./images/team/igor.jpg 1x, ./images/team/igor-2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/igor-md.jpg    1x,
              ./images/team/igor-md-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 480px)"
            srcset="
              ./images/team/igor-sm.jpg    1x,
              ./images/team/igor-sm-2x.jpg 2x
            "
          />
          <img src="./images/team/igor.jpg" alt="igor" />
        </picture>
        <h3>Ігор Дем'яненко</h3>
        <p>Product Designer</p>
        <ul class="team__item__social">
          <li>
            <a href="./index.html"><i class="bx bxl-instagram"></i></a>
          </li>
          <li>
            <a href="./index.html"><i class="bx bxl-twitter"></i></a>
          </li>
          <li>
            <a href="./index.html"><i class="bx bxl-facebook"></i></a>
          </li>
          <li>
            <a href="./index.html"><i class="bx bxl-linkedin"></i></a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="./images/team/olga.jpg 1x, ./images/team/olga-2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/olga-md.jpg    1x,
              ./images/team/olga-md-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 480px)"
            srcset="
              ./images/team/olga-sm.jpg    1x,
              ./images/team/olga-sm-2x.jpg 2x
            "
          />
          <img src="./images/team/olga.jpg" alt="olga" />
        </picture>

        <h3>Ольга Рєпіна</h3>
        <p>Frontend Developer</p>
        <ul class="team__item__social">
          <li>
            <a href="./index.html"><i class="bx bxl-instagram"></i></a>
          </li>
          <li>
            <a href="./index.html"><i class="bx bxl-twitter"></i></a>
          </li>
          <li>
            <a href="./index.html"><i class="bx bxl-facebook"></i></a>
          </li>
          <li>
            <a href="./index.html"><i class="bx bxl-linkedin"></i></a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="./images/team/mikola.jpg 1x, ./images/team/mikola-2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/mikola-md.jpg    1x,
              ./images/team/mikola-md-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 480px)"
            srcset="
              ./images/team/mikola-sm.jpg    1x,
              ./images/team/mikola-sm-2x.jpg 2x
            "
          />
          <img src="./images/team/mikola.jpg" alt="mikola" />
        </picture>
        <h3>Микола Тарасов</h3>
        <p>Marketing</p>
        <ul class="team__item__social">
          <li>
            <a href="./index.html"><i class="bx bxl-instagram"></i></a>
          </li>
          <li>
            <a href="./index.html"><i class="bx bxl-twitter"></i></a>
          </li>
          <li>
            <a href="./index.html"><i class="bx bxl-facebook"></i></a>
          </li>
          <li>
            <a href="./index.html"><i class="bx bxl-linkedin"></i></a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/mihailo.jpg    1x,
              ./images/team/mihailo-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/mihailo-md.jpg    1x,
              ./images/team/mihailo-md-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 480px)"
            srcset="
              ./images/team/mihailo-sm.jpg    1x,
              ./images/team/mihailo-sm-2x.jpg 2x
            "
          />
          <img src="./images/team/mihailo.jpg" alt="mihailo" />
        </picture>
        <h3>Михайло Єрмаков</h3>
        <p>UI Designer</p>
        <ul class="team__item__social">
          <li>
            <a href="./index.html"><i class="bx bxl-instagram"></i></a>
          </li>
          <li>
            <a href="./index.html"><i class="bx bxl-twitter"></i></a>
          </li>
          <li>
            <a href="./index.html"><i class="bx bxl-facebook"></i></a>
          </li>
          <li>
            <a href="./index.html"><i class="bx bxl-linkedin"></i></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
