<section class="work">
  <div class="container">
    <h2 class="work__title">Чим ми займаємося</h2>
    <ul class="work__list">
      <li class="work__item">
        <img src="./img/laptop.png" alt="laptop" width="370" height="294" />
        <div>Десктопні додатки</div>
      </li>
      <li class="work__item">
        <img src="./img/mobile.png" alt="mobile" width="370" height="294" />
        <div>Мобільні додатки</div>
      </li>
      <li class="work__item">
        <img src="./img/tablet.png" alt="tablet" width="370" height="294" />
        <div>Дизайнерські рішення</div>
      </li>
    </ul>
  </div>
</section>
